body {
	user-select: none;
	background-color: #00FF7F;
	font-family: 'Dancing Script', cursive;
}

h1 {
	text-align: center;
	font-size: 50px;
}

#menu {
	width: 100%;
	text-align: center;
}

#menu button {
	width: 24%;
	height: 45px;
	font-size: 25px;
	background-color: #e3a72b;
	border: 5px solid #6a3c0b;
	border-left: 5px solid #f3edea;
	border-top: 5px solid #f3edea;
	font-family: sans-serif;
	color: #000000;
}

#bodyText {
	font-family: 'Dancing Script', cursive;
	width: 50%;
	background-color: #FFFFFF;
	padding: 10px;
	border: 1px solid #000000;
}
